*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(#672870, 90%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  cursor: pointer;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}
