@mixin font-face($font-family, $font-src, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-display: swap;
    font-family: $font-family;
    src: $font-src;
    font-style: $font-style;
    font-weight: $font-weight;
  }
}

@mixin font($font-size, $line-height: 1) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin pseudo-element($width, $height, $background-color: transparent) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  background-color: $background-color;
  flex-shrink: 0;
}

@mixin mask($image-name: "", $background-color: currentColor) {
  mask: url("../../icons/stack.svg#" + $image-name) no-repeat center;
  mask-size: contain;
  background-color: $background-color;
}
